<%= stylesheet_link_tag 'message' %>

<h1 class="main-title text-center">CHAT APP</h1>


<div class="first-container container">
    <div class="logged-user">
        <img src="https://img.freepik.com/free-photo/close-up-portrait-young-bearded-man-white-shirt-jacket-posing-camera-with-broad-smile-isolated-gray_171337-629.jpg?w=740&t=st=1689791046~exp=1689791646~hmac=eb7e47e7a41820d4e32b3cc644d07876f6bd1008e1258519c8f18c728c3c395b">
        <span><%= current_user.username.upcase %><span>
    </div>
    <div class="row second-container">
        <div class="col-4 left-side">
            <% @users.each do |user| %>
                <div class="user-info pl-2 d-flex align-items-center">
                    <img src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/filip.jpg">
                    <div class="ml-2">

                    <h6> <%= user.username.capitalize %> </h6>
                    <p> <%= user.email %> </p>
                   
                    </div>
                </div>
            <% end %>
        </div>
        <div class="col-8 right-side">
            <div class="text" id="msg">
            <% @messages.each do |message| %>
                <%= render 'messages/message', message: message %>
            <% end %>
            </div>
            <%= form_with model: Message.new, html: {id: "msg-form"} do |f| %>
                <div class="text-input">
                    <%= f.text_field :body, placeholder: "Enter the message" %>
                    <%= f.button nil, class: "text-btn" do %>
                        <i class="fa-solid fa-paper-plane"></i>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>