<p style="color: green"><%= notice %></p>

<h1 class="text-center mt-4">Games</h1>

<div class="container">
  <% @projects.each do |project| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header fst-italic">
            By <%= link_to project.user.username, user_path(project.user) %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to project.title, project_path(project), class: "text-info" %></h5>
            <p class="card-text"><%= truncate(project.description, length: 100 ) %></p>
            <div class="button-group">
              <%= link_to "View", project_path(project), class:" btn btn-outline-success"%>
              <% if logged_in? && (project.user == current_user) %>
              <%= link_to "Edit", edit_project_path(project), class:" btn btn-outline-info"%>
              <%= button_to 'Delete', project_path(project), method: :delete, class:" btn btn-outline-danger" %>
              <%end%>
            </div>
          </div>
          <div class="card-footer text-muted">
            <small> Created <%= time_ago_in_words(project.created_at) %> ago, edited <%= time_ago_in_words(project.updated_at) %> ago </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div style="display: flex; justify-content: center;">
  <%= link_to "Add Game", new_project_path, class: "btn btn-outline-secondary mb-5" %>
</div>