<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/dbd39da8f1.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'msg' %>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    
    <style>

      <%= ".msgg-#{current_user&.id}" %> {
        text-align: start;
      }
      <%= ".msgg-#{current_user&.id} p" %> {
       background-color: #007bff !important;
       color: #fff !important;
      }

    </style>

  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
          <a class="h5 font-weight-bold mt-2">LOGO_HERE</a>
          <span class="navbar-toggler-icon"></span>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%= link_to 'Home', root_path, class:" nav-link active" %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Feeds
              </a>
              <div class="dropdown-menu">
                <%= link_to 'Show Feeds', feeds_path, class: "dropdown-item" %>
                <%= link_to 'New Feed', new_feed_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
              <%if current_user%>
                <%= link_to 'Profile', user_path(current_user.id), class:" nav-link" %>
                <%= link_to 'Add Games', edit_user_registration_path(current_user.id), class: "nav-link" %>          
                <%= link_to 'Logout', destroy_user_session_path, class: "nav-link", method: :delete %
                <%= link_to 'Chat App', messages_path, class:" nav-link" %>           
                <%= link_to 'Add Friends', friends_new_path, class: "nav-link" %>
              <%= link_to 'Friends List', friends_show_path, class: "nav-link" %>
              <% end %>  
            <%if !current_user%>
              <li class="nav-item">
                <%= link_to 'Log in', new_user_session_path, class: "nav-link" %>
              </li>
                <li class="nav-item">
                  <%= link_to 'Signup', new_user_registration_path, class: "nav-link"%>
                </li>
            <% end %>            
          </div>
        </div>
      </div>
    </nav> 

    <div class="text-center">
      <% flash.each do |name, msg| %>
        <div class="alert <%= name.to_s == "notice" ? "alert-success" : "alert-danger" %> alert-dismissible fade show" role="alert">
            <%= msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      <% end %> 
    </div>

    <%= yield %>
    
  </body>
</html>
